# Add New Movies to the Cleaned Movie List

In [1]:
# import dependencies
import requests
import pandas as pd
from config import api_key
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [3]:
# Read cleaned movie list
wiki_movie_list = pd.read_csv('resources/cleaned/movie_list_cleaned.csv')
wiki_movie_list.head()

,Title,Release date,Time Period,Start Time,End Time,Notes on setting,Location,genre_ids,movie_id,original_language,...,title,video,vote_average,vote_count,name,keywords,genres,Full Location,latitude,longitude
0,Quest for Fire,1981,"80,000 BC",-80000,-80000,"The story is set in Paleolithic Europe, with i...",Europe,"[12, 18]",62204,fr,...,Quest for Fire,False,7.1,359.0,"Everett McGill, Ron Perlman, Nicholas Kadi, Ra...","fire, based on novel or book, mammoth, stone a...","['Adventure', 'Drama']",أوروبا,51.000000,10.000000
1,The Clan of the Cave Bear,1986,"40,000 - 35,000 BC",-40000,-35000,In times of�Neanderthal extinction,Europe,"[12, 18]",13853,en,...,The Clan of the Cave Bear,False,5.1,87.0,"Daryl Hannah, Pamela Reed, James Remar, Thomas...","stone age, animal attack, tribe, bear, cavemen...","['Adventure', 'Drama']",أوروبا,51.000000,10.000000
2,Conan the Barbarian,1982,"32,000 - 10,000 BC",-32000,-10000,"Occurs in the pseudo-historical ""Hyborian Age""...",Middle East,"[12, 14, 28]",9387,en,...,Conan the Barbarian,False,6.8,1836.0,"Arnold Schwarzenegger, James Earl Jones, Max v...","gladiator, repayment, fight, mythology, magic,...","['Adventure', 'Fantasy', 'Action']","Middle East, Baltimore, Maryland, United States",39.301416,-76.588848
3,Conan the Destroyer,1984,"32,000 - 10,000 BC",-32000,-10000,NaN,Middle East,"[12, 14, 28]",9610,en,...,Conan the Destroyer,False,6.1,1115.0,"Arnold Schwarzenegger, Grace Jones, Wilt Chamb...","gladiator, swordplay, fight, sword, magic, war...","['Adventure', 'Fantasy', 'Action']","Middle East, Baltimore, Maryland, United States",39.301416,-76.588848
4,Alpha,2018,"20,000 BC",-20000,-20000,Dog domestication,Europe,"[12, 18]",399360,en,...,Alpha,False,6.4,2083.0,"Kodi Smit-McPhee, Jóhannes Haukur Jóhannesson,...","wolf, ice age, human animal relationship, wild...","['Adventure', 'Drama']",أوروبا,51.000000,10.000000

In [ ]:
# Add New Movie

# Information below needs to be included:
title = 'holder'
release_date = 'date'
time_period = 'length'
start_time = 'begin year'
end_time = 'end year'
location = 'location'