In [312]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [313]:
# Movies after processing
movie_list = pd.read_csv('resources/cleaned/movie_list_cleaned.csv', index_col = False)
movie_list = movie_list.rename(columns={'id':'movie_id'})
movie_list['date'].astype(str).astype(int)

movie_list = movie_list.sort_values('date')

In [314]:
# Code from The-Final-Project_F-PALS, Popular_Crew.ipynb, refractoring for this project.
# The code below will make an API call based on the movie list to get the leading actors and directors of each film.

# Create list of movie ids that will be used to make API calls for additional information
id_list = movie_list.movie_id.tolist()

actors = pd.DataFrame()
directors = pd.DataFrame()
id_for_movie = []
director_movie_id = []

for movie_id in id_list:
    movie = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={api_key}&language=en-US').json()

    for actor in movie['cast']:
        actors = actors.append(actor, ignore_index=True)
        id_for_movie.append(movie_id)

    for director in movie['crew']:
        if director['job'] == "Director":
            directors = directors.append(director, ignore_index=True)
            director_movie_id.append(movie_id)

actors["movie_id"] = id_for_movie
directors['movie_id'] = director_movie_id
actors = actors.rename(columns = {"id": "actor_id",'popularity': 'actor_popularity'})
actors = actors[['name','actor_id','gender','character','actor_popularity','movie_id']]
actors_clean = pd.merge(actors,movie_list[['movie_id', 'title']], on='movie_id', how='left')
directors['movie_id'] = director_movie_id
directors = directors.rename(columns={'id': 'director_id', 'popularity': 'director_popularity'})
director_clean = directors[['name','director_id','gender','director_popularity','movie_id']]

# Add list of actors to movie_list
actor_count = actors_clean.name.value_counts()
actors_group = actors_clean.groupby('movie_id',sort = False)
actor_lists = actors_group['name'].agg(lambda column: ", ".join(column))
actor_lists = actor_lists.reset_index(name='name')

movie_list = movie_list.merge(actor_lists,on='movie_id', how='left')

# Add list of movies to actors:
movie_group = actors_clean.groupby('name',sort = False)
movie_group = movie_group['title'].agg(lambda column: ", ".join(column))
movie_group = movie_group.reset_index(name='title')
movie_group = movie_group.rename(columns={'title':'title list'})
actors_clean = movie_group.merge(actors_clean,on='name', how='right')

In [338]:
id_list = movie_list.movie_id.tolist()
studio = pd.DataFrame()
id_for_movie = []

for movie_id in id_list:
    movieDetail = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US').json()
    for movie in movieDetail['production_companies']:
        studio = studio.append(movie, ignore_index=True)
        id_for_movie.append(movie_id)


studio['movie_id'] = id_for_movie
studio = studio.drop(columns=['logo_path'])
studio = studio.rename(columns={'id': 'studio_id', 'name':'studio_name'})
studio = pd.merge(studio,movie_list[['movie_id', 'title']], on='movie_id', how='left')

studio_group = studio.groupby('studio_name',sort = False)
studio_group = studio_group['title'].agg(lambda column: ", ".join(column))
studio_group = studio_group.reset_index(name='title')
studio_group = studio_group.rename(columns={'title':'title list'})
studio = studio_group.merge(studio,on='studio_name', how='right')

studio.head(30)

,studio_name,title list,studio_id,origin_country,movie_id,title
0,Belstar Productions,Quest for Fire,999.0,,62204,Quest for Fire
1,Stéphan Films,Quest for Fire,2359.0,FR,62204,Quest for Fire
2,International Cinema Corporation (ICC),Quest for Fire,25765.0,CA,62204,Quest for Fire
3,Ciné Trail,Quest for Fire,111483.0,,62204,Quest for Fire
4,Gruskoff Film Organization,Quest for Fire,111484.0,,62204,Quest for Fire
5,Royal Bank of Canada,Quest for Fire,111485.0,,62204,Quest for Fire
6,Famous Players Limited,Quest for Fire,16914.0,,62204,Quest for Fire
7,20th Century Fox,"Quest for Fire, The Egyptian, David and Bathsh...",25.0,US,62204,Quest for Fire
8,Burnt Orange Productions,Homo Erectus,3637.0,,14641,Homo Erectus
9,Centropolis Entertainment,"10,000 BC",347.0,,7840,"10,000 BC"
10,Legendary Pictures,"10,000 BC, 300, 300: Rise of an Empire",923.0,US,7840,"10,000 BC"
11,The Department of Trade and Industry of South ...,"10,000 BC",10884.0,,7840,"10,000 BC"
12,Moonlighting Films,"10,000 BC",9137.0,ZA,7840,"10,000 BC"
13,Warner Bros. Pictures,"10,000 BC, Troy, 300, 300: Rise of an Empire",174.0,US,7840,"10,000 BC"
14,Universal 1440 Entertainment,The Scorpion King 3: Battle for Redemption,17009.0,US,78049,The Scorpion King 3: Battle for Redemption
15,Alphaville Films,The Scorpion King 3: Battle for Redemption,11462.0,,78049,The Scorpion King 3: Battle for Redemption
16,"Sommers Company, The",The Scorpion King 3: Battle for Redemption,19643.0,,78049,The Scorpion King 3: Battle for Redemption
17,Misher Films,The Scorpion King 3: Battle for Redemption,11581.0,US,78049,The Scorpion King 3: Battle for Redemption
18,A Grand Elephant,The Scorpion King 3: Battle for Redemption,19865.0,,78049,The Scorpion King 3: Battle for Redemption
19,20th Century Fox,"Quest for Fire, The Egyptian, David and Bathsh...",25.0,US,24973,The Egyptian
20,Max Film,"Nefertiti, Queen of the Nile",36913.0,,77971,"Nefertiti, Queen of the Nile"
21,Josef Shaftel Productions,The Trojan Women,15921.0,US,47446,The Trojan Women
22,La Société des Films Sirius,The Lion of Thebes,35746.0,FR,211139,The Lion of Thebes
23,Uneurop Film,Fury of Achilles,95315.0,,81409,Fury of Achilles
24,Paramount,"The Ten Commandments, Samson and Delilah, Duel...",4.0,US,6844,The Ten Commandments
25,Motion Picture Associates,The Ten Commandments,12275.0,,6844,The Ten Commandments
26,Warner Bros. Pictures,"10,000 BC, Troy, 300, 300: Rise of an Empire",174.0,US,652,Troy
27,Plan B Entertainment,Troy,81.0,US,652,Troy
28,Nimar Studios,"Troy, 300, 300: Rise of an Empire",7636.0,BG,652,Troy
29,Radiant Productions,Troy,18990.0,,652,Troy

In [339]:
# Add csv files to cleaned folder
actors_clean.to_csv('resources/cleaned/actors_cleaned.csv', index=False)
director_clean.to_csv('resources/cleaned/director_cleaned.csv', index=False)
studio.to_csv('resources/cleaned/studio_cleaned.csv', index=False)

In [317]:
genre = requests.get(f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US').json()['genres']
genre_df = pd.DataFrame(genre)
genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [378]:
actor_movie_count = pd.DataFrame({'count': actors_clean.groupby(['name','actor_id'],sort=False).size()}).reset_index()
actor_movie_count.loc[actor_movie_count['name']=='Ron Perlman']
actor_movie_count.to_csv('resources/cleaned/actor_movie_count.csv', index=False)

In [375]:
actors_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1821 entries, 0 to 1820
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1821 non-null   object
 1   title list        1821 non-null   object
 2   actor_id          1821 non-null   float64
 3   gender            1821 non-null   float64
 4   character         1820 non-null   object
 5   actor_popularity  1821 non-null   float64
 6   movie_id          1821 non-null   int64
 7   title             1821 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 192.6+ KB