In [30]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy import distance

import pandas as pd
import ipywidgets

In [31]:
# Input location
location = "Mohenjo-daro"

Egypt = Nominatim(user_agent='sean.cary62@gmail.com').geocode(location)
print(Egypt.latitude,Egypt.longitude)

27.321657 68.1365933

In [32]:
# Get CSV with movie data
movies_df = pd.read_csv('resources/wiki_movie_list.csv')

movies_df.head(5)

,Title,Release date,Time Era,Time Period,Notes on setting,Location
0,Early Man,2018,Paleolithic,1 Million B.C.,Stop motion animated comedy about a group of c...,Europe
1,Quest for Fire,1981,Paleolithic,"80,000 BC","The story is set in Paleolithic Europe, with i...",Europe
2,The Clan of the Cave Bear,1986,Paleolithic,"40,000 � 35,000 BC",In times of�Neanderthal extinction,Europe
3,Alpha,2018,Paleolithic,"20,000 BC",Dog domestication,Europe
4,Creatures the World Forgot,1971,Paleolithic,NaN,NaN,Europe

In [33]:
geocoder = RateLimiter(Nominatim(user_agent='sean.cary62@gmail.com').geocode, min_delay_seconds=1)
movies_df['Full Location'] = movies_df['Location'].apply(geocoder)

movies_df['latitude'] = movies_df['Full Location'].apply(lambda loc: loc.latitude if loc else None)
movies_df['longitude'] = movies_df['Full Location'].apply(lambda loc: loc.longitude if loc else None)
movies_df.head(10)

movies_df.to_csv('resources/movies_locations_test.csv')

In [24]:
movies_df.loc[movies_df['Title']=='Soldier of God']

,Title,Release date,Time Era,Time Period,Notes on setting,Location,Full Location,latitude,longitude
276,Soldier of God,2005,medieval era,1187,a�Templar�who has survived the�Battle of Hattin,Kingdom of Jerusalem,"(Dixon's Kingdom Hut, Walls of Jerusalem Track...",-41.828908,146.30919